Package: shrike
Version: ${version}-${release}
Section: utils
Maintainer: AcesHigh70 <6564423+AcesHigh70@users.noreply.github.com>
Priority: optional
Architecture: ${arch}
Provides: shrike
Description: Shrike Wallet
Depends: libasound2, libbsd0, libc6, libmd0, libx11-6, libxau6, libxcb1, libxdmcp6, libxext6, libxi6, libxrender1, libxtst6, xdg-utils
Installed-Size: ${size}
