Package: shrikeserver
Version: ${version}-${release}
Section: utils
Maintainer: Kyle Santiago <kyle@privkey.io>
Priority: optional
Architecture: ${arch}
Provides: shrikeserver
Description: Shrike Server
Depends: libc6, zlib1g
Installed-Size: ${size}
