Package: shrikeserver
Version: ${version}-${release}
Section: utils
Maintainer: AcesHigh70 <6564423+AcesHigh70@users.noreply.github.com>
Priority: optional
Architecture: ${arch}
Provides: shrikeserver
Description: Shrike Server
Depends: libc6, zlib1g
Installed-Size: ${size}
